body {
  margin: 0;
  margin-top: 50px;
  font-family: sans-serif;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(white,#eee, lightgrey);
}
header * {
  display: inline-block;
  height: 50px;
}
header ul{
  padding: 0;
}
header li {
  margin-left: 20px;
}
section {
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero .profile-img{
  width: 300px;
  border-radius: 50%;
  border: 1px solid white;
}
#hero .profile-img:hover{
  transform: scale(1.1);
  border: 1px solid black;
}
footer {
  text-align: center;
  padding: 50px;
}
#hero h1 {
  font-size: 3em;
}
section h2 {
  font-size: 2.5em;
}
section h3 {
  font-size: 1.5em;
}
header a {
  text-decoration: none;
  color: black;
  display: block;
}
header a:hover {
  box-sizing: border-box;
  background: linear-gradient(white, darkgrey, black,white);
  color: white;
  padding: -10px;
  border-radius: 50%;
}
#hero {
  background-image: linear-gradient(rgba(255,255,255, 0.75), rgba(255,255,255, 0.75)), url(ronda.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#hero a:visited {
  display: none;
}
/*#hero:hover {
  background-image: radial-gradient(rgba(255,255,255,0.9), rgba(255, 255, 255, 0.1)), url(ronda.jpg);
}*/
#about {
  background-image: linear-gradient(rgba(255,255,255, 0.75), rgba(255,255,255, 0.75)), url(setee.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#contact {
  background-image: linear-gradient(rgba(255,255,255, 0.75), rgba(255,255,255, 0.75)), url(lake.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#contact ul {
  float: left;
  /*display: block;*/
}
#contact li {
  display: block;
  margin: 20px;
}
#contact .okay:hover {
  transform: scale(1.1);
}
#contact h2{
  margin-top: -300px;
  color: #555555;
}
#contact .yeah {
  margin-top: -250px;
  margin-left: -150px;
}